#gallery{
}

// .container {
//     display: grid;
//     grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
//     grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

//     @media only screen and (max-width: $bp-large) {
//         grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
//         grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
//     }

//     @media only screen and (max-width: $bp-medium) {
//         grid-template-rows: 6rem calc(100vh - 6rem);
//     }
// }
.gallery {
    position: relative;
    justify-content:center;
    background-color: $white;
    grid-column: full-start / full-end;

    display: grid;
    /*grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);*/
    grid-template: repeat(16, 5vw) / repeat(2, 1fr);
    @media only screen and (min-width: $media-l) {
        grid-template: repeat(3, 15vw) / repeat(4, 1fr)
}

    grid-gap: 1.4rem;
    padding: 30px;

    &__item {
        &--1 {
            grid-row: 1 /  4;
            grid-column: 1 / 2;
            @media only screen and (min-width: $media-l) {
            grid-row: 1 /  2;
            grid-column: 1 / 2; }
        }

        &--2 {
            grid-row: 1 / span 5;
            grid-column: 2 /  3;
            @media only screen and (min-width: $media-l) {
                grid-row: 1 /  3;
                grid-column: 2 / 3; }
        }

        &--3 {
            grid-row: 4 / span 3;
            grid-column: 1 / 2;
            @media only screen and (min-width: $media-l) {
                grid-row: 1 /  2;
                grid-column: 3 / 4; }
        }

        &--4 {
            grid-row: 7 /  12;
            grid-column: 1 / 2;
            @media only screen and (min-width: $media-l) {
                grid-row: 2 /  4;
                grid-column: 3 / 4; }
        }

        &--5 {
            grid-row: 6 /  9;
            grid-column: 2 /  3;
            @media only screen and (min-width: $media-l) {
                grid-row: 3 /  4;
                grid-column: 4 / 5; }
        }

        &--6 {
            grid-row: 9 /  14;
            grid-column: 2 /  3;
            @media only screen and (min-width: $media-l) {
                grid-row: 1 /  3;
                grid-column: 4 / 5; }
        }

        &--7 {
            grid-row: 12 / 17;
            grid-column: 1 / 2;
            @media only screen and (min-width: $media-l) {
                grid-row: 2 /  4;
                grid-column: 1 / 2; }
        }

        &--8 {
            grid-row: 14 /  17;
            grid-column: 2 /  3;
            @media only screen and (min-width: $media-l) {
                grid-row: 3 /  4;
                grid-column: 2 / 3; }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}