#landing_page {
    
    max-height: 75vh;
    width: 100%;
    background-origin: border-box;
    background-position: center;
   
    @media only screen and (min-width: $media-l) {
        max-height: 65vh;
    }
}

.box_img {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/FEND-Coffee-latte-art-3.jpg") center/cover no-repeat border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
  
    margin: 0%;
    height:500px;
    @media only screen and (min-width: $media-l) {
        height:681px;
background-position: 0% 60%;
    }
}

/* zum Shop */
.zum_shop {
    position: static;
    width: 63px;
    height: 18px;
    left: 50px;
    top: 15px;
}

.box_rustica {
    margin-top: 193px;

    margin-left: auto;
    @media only screen and (min-width: $media-l) {
    margin-top: 260px;
    height: 110px;

}
}



/* B{io und Fair seit 1991 */
    .box_bio_fair_1991 {
   
        max-width: 100;
        margin-left: auto;
    }