/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}
img {
  display: block;
}
.logo {
  position: fixed;
  font-size: 20px;
  height:35px;
  cursor: pointer;
z-index: 5;
	fill: $white;
  
 
}
/* Tablet menu */
// @media all and (min-width: $media-xs) {

//   . {
//     flex: 1;
//   }
// }
// /* Desktop menu */
// @media all and (min-width: $media-m) {

//   . {
//     order: 0;
//   }
// }

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

html {
    font-size: 1rem;
}

body {
    font-family: Roboto sans-serif;
    font-size: 1rem;
    font-weight: 400;
    overflow-x: hidden;
}

p {
    font-size: 1rem;
}

.dieHerkunft_textbox_1 a  {
    color: #ffffff;
    text-decoration: none;
}


.links-container {

  width: 100vw;
  margin: 0 10vw;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
 & .bg-light {
   background-color: $white;
 }
    // max-width: 122.5rem;
  
}


.nav-header {
  
  padding: 0;
    height: 3rem;
}
// mobile nav menu slides from side
.nav-links {
    list-style: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 100%;
    height: 100vh;
    background-color: $black;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;

    transform: translateX(100%);
    transition: transform 0.5s;
}

.nav-link {
  color:$white; 
}
.fill-test{
filter: invert(1) sepia(0) saturate(100) hue-rotate(175deg) brightness(100) contrast(105%);
}
.fill-white {
  filter: brightness(0) invert(1);
}

.fill-black {
  
  filter: invert(1) sepia(0) saturate(100) hue-rotate(175deg) brightness(100) contrast(105%);
} 


.fixed-nav {
  position: fixed;
  
}
/* Media Queries : Tablet and larger*/

@media screen and (min-width: $media-m) {
.bg-light .nav-link {
  color:$black;
  background-color: $white;
} .filter-green{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
  .fixed-nav {
    
    background-color: $white;
    z-index: 2;
  }
   .fixed-nav .nav-links a {
      color: $black;
    }
    .fixed-nav .logo{
      fill: $black;
    }
  

    .nav-links {
        display: flex;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 1rem;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
        }

    .nav-link {
        margin-left: 4rem;
        transition: all 0.1s;
    }
  

    .menu-toggle {
        display: none;
    }
  
  }


// .nav-link:hover {
//     border-bottom: 1px solid #ffffff;
//     /* Line 4 */
// }

.active {
  font-weight: 1000;

  @media only screen and (min-width: $media-m) {
    font-weight: 700;
    }
}

.open .nav-links {
    transform: translateX(0);
}

.menu-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.hamburger {
    width: 2.6rem;
    height: 4px;
    background-color: $white;
    border-radius: 2px;
    border: none;
  z-index:2;
    transition: all 0.5s ease-out;
}

// .hamburger .bg-light ,
// .hamburger .bg-light {
//   background-color: $black;
// }


.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    width: 2.6rem;
    height: 4px;
    background-color: $white;
    border-radius: 2px;
    border: none;
}
// .hamburger::before .bg-light ,
// .hamburger::after .bg-light {
//   background-color: $black;
// }

.hamburger::before {
    transform: translateY(-8px);
}

.hamburger::after {
    transform: translateY(8px);
}

/* Menu Toggle Animation */

.open .hamburger {
    background: transparent;

  z-index:2;
}

.open .hamburger::before {
    transform-origin: (0, 0);
    transform: rotate(45deg);
}

.open .hamburger::after {
    transform-origin: (0, 0);
    transform: rotate(-45deg);
}


.closebtn  {
  
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}