/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
/* Tablet menu */
@media all and (min-width: $media-xs) {
  
  .logo {
    flex: 1;
  }
}
/* Desktop menu */
@media all and (min-width: $media-m) {
 
  .logo {
    order: 0;
  }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    overflow-x: hidden;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 1rem;
}

/* Global Class */

.container {
    margin: 0 auto;
    padding: 0 2.4rem;
    width: 100%;
    max-width: 122.5rem;
}


/* Responsive Navbar - Mobile first*/

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.navbar-brand {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $black;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
  
    transform: translateX(100%);
    transition: transform 0.5s;
}
/* Media Queries : Tablet */

@media screen and (min-width: 768px) {
    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }
    .nav-link {
        margin-left: 4rem;
        transition: all 0.1s;
    }
    .menu-toggle {
        display: none;
    }
}


// .nav-link:hover {
//     border-bottom: 1px solid #ffffff;
//     /* Line 4 */
// }

.active {
  font-weight: 1000;
  @media only screen and (min-width: $media-m) {
    font-weight: 700;
    }
}

.open .nav-list {
    transform: translateX(0);
}

.menu-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.hamburger {
    width: 2.4rem;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    border: none; 
  z-index:2;
    transition: all 0.5s ease-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    width: 2.4rem;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    border: none;

}

.hamburger::before {
    transform: translateY(-8px);
}

.hamburger::after {
    transform: translateY(8px);
}

/* Menu Toggle Animation */

.open .hamburger {
    background: transparent;
  
  z-index:2;
}

.open .hamburger::before {
    transform-origin: (0, 0);
    transform: rotate(45deg);
}

.open .hamburger::after {
    transform-origin: (0, 0);
    transform: rotate(-45deg);
}


.closebtn  {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

