#kaffee_sorten {
    display: block;
    position: relative;
    display: flex;
    background-color: $black;

}


.container_coffee {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%
}

.coffee_flavors {
    display: border-box;
    width: 42%;
    &:not(:last-child) {
        margin-right: 22px;
    }
    @media only screen and (min-width: $media-l) {
         width: 24%;
         &:not(:last-child) {
        margin-right: 18px;
    }
}
}
   

.img-coffee-kilo {
    display: border-box;

    width: 100%;
    margin: 0 -10 0 11px;
    object-fit: contain;
}

.card {
    margin: 0;
}

.icon-coffee-symbols {
    height: 14px;
    width: 12px;
    left: 1px;
    right: 9px;
    top: 5px;

    @media only screen and (min-width: $media-l) {
        height: 20px;
        width: 17px;
        left: 2px;
        top: 7px;
    }
}