#contact{
      
    position: relative;
    background-color: $white;

}

.map_wrapper {
     width: 100vw;
    height: auto;
     object-fit: cover;
 @media only screen and (min-width: $media-m) {
        height: 484px;
    }
}
.responsive_map{
display: border-box;
overflow: hidden;
padding-bottom:80%;
position: relative;
object-fit: cover;
height:231;

    @media only screen and (min-width: $media-m) {
        padding-bottom:56.25%;
        height: 484px;
    }
}
.responsive_map iframe{ 
     left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.img_map {
  

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}