$white: #FFFFFF;
$black: #000000;
$anthracite:#1A1A1A;
$grey: #737373;

$media-xs: 350px;
$media-sm: 576px;
$media-m: 768px;
$media-l: 992px;
$media-xl: 1200px;
$media-xxl: 1920px;

$font-weight-normal: 400;
$p-margin-top:2rem;


$color-primary-light: #E9E9E9;
;
;
$color-primary-medium: #75bb8c;
$color-primary-dark: $anthracite;

$color-secondary-light: #e7d7aade;
$color-secondary-medium: #D7BE9D;
$color-secondary-dark: #53301e;

$color-tertiary-light: #dcf2ff;
$color-tertiary-medium: #86b2cc;
$color-tertiary-dark: #324e68;

$color-red-medium: #FF0000;
$color-red-light:lighten($color-red-medium,30%);

$color-red-dark: #880000;


$color-grey-light-1: #E9E9E9;
$color-grey-light-2: #737373;
$color-grey-light-3: #dfdbdbd3;


$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
// Color system
$transparent: transparent;

//nav for media-m onwards has different colored links, depending on bg-color of section.
$media-m-navlink: $white;
$media-m-bg-nav: $transparent;


//default, will be toggled black or white using javascript
