@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
}

main div {
  color: #000000;
}
@media screen and (max-width: 576px) {
  main div {
    color: var(--div-color);
  }
}
@media screen and (max-width: 768px) {
  main div {
    color: var(--div-color);
  }
}
@media screen and (max-width: 992px) {
  main div {
    color: var(--div-color);
  }
}
@media screen and (max-width: 1200px) {
  main div {
    color: var(--div-color);
  }
}
@media screen and (max-width: 1920px) {
  main div {
    color: var(--div-color);
  }
}

.white {
  color: #FFFFFF;
}

.black {
  color: #000000;
}

.grey {
  color: #737373;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.h1_m {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
}
@media only screen and (min-width: 992px) {
  .h1_m {
    font-size: 96px;
    line-height: 110px;
    letter-spacing: 0em;
  }
}

/* identical to box height, or 129% */
.h2_m {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 34px;
  margin-top: 60px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 992px) {
  .h2_m {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0em;
    margin-top: 125px;
    margin-bottom: 80px;
  }
}

/* identical to box height, or 94% */
.h3_m {
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px;
  letter-spacing: 0em;
}
@media only screen and (min-width: 992px) {
  .h3_m {
    font-size: 42px;
    line-height: 49px;
  }
}

.padding_left {
  margin-left: 1rem;
}
@media only screen and (min-width: 992px) {
  .padding_left {
    margin-left: 0;
  }
}

.subhead_m {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0em;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
}
@media only screen and (min-width: 992px) {
  .subhead_m {
    font-size: 18px;
    line-height: 21px;
  }
}

.text_m {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* body text m */
}
@media only screen and (min-width: 992px) {
  .text_m {
    font-size: 18px;
    line-height: 24px;
  }
}
.text_m_tight {
  letter-spacing: 0em;
}
.text_m_btn {
  white-space: nowrap;
}
.text_m_no_margin {
  margin: 0;
}

.box_margin_h3_1 {
  margin-top: 60px;
  margin-bottom: 35px;
}
@media only screen and (min-width: 992px) {
  .box_margin_h3_1 {
    margin-top: 145px;
    margin-bottom: 88px;
  }
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.hero {
  color: red;
}

/* Button hell */
.btn_light {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 25px;
  position: relative;
  margin: 0%;
  right: 17.65%;
  top: 0%;
  bottom: 0%;
  border: 2px solid #1A1A1A;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
}

/* wie viel Kaffee brauchst du? */
.order_amount {
  position: static;
  width: 174px;
  height: 18px;
  left: 25px;
  top: 15px;
}

/* body text m */
body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  color: #000000;
}

/* Inside Auto Layout */
/* Property 1=Default */
/* Auto Layout */
.btn {
  display: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: auto;
}
.btn_big {
  position: relative;
  width: 163px;
  height: 48px;
  padding: 15px 50px;
  left: calc(50% - 163px/2);
}
.btn_small {
  position: relative;
  width: 50px;
  height: 20px;
  left: calc(50% - 50px/2);
}
.btn_transparent {
  background-color: transparent;
  border: none;
}
.btn_dark {
  background: #000000;
  border: 2px solid #000000;
}
.btn_light {
  background: #000000;
  border: 2px solid #FFFFFF;
}
.btn_landing {
  margin-top: 103px;
  margin-bottom: 60px;
}
@media only screen and (min-width: 992px) {
  .btn_landing {
    margin-top: 103px;
    margin-bottom: 90px;
    position: absolute;
  }
}
.btn_kaffee_sorten {
  margin-top: 40px;
  margin-bottom: 60px;
}
@media only screen and (min-width: 992px) {
  .btn_kaffee_sorten {
    margin-top: 103px;
    margin-bottom: 125px;
  }
}
.btn_herkunft {
  margin-top: 35px;
}
@media only screen and (min-width: 992px) {
  .btn_herkunft {
    margin-top: 80px;
  }
}
.btn_herkunft {
  margin-top: 20px;
  margin-bottom: 87px;
}
@media only screen and (min-width: 992px) {
  .btn_herkunft {
    margin-top: 35px;
    margin-bottom: 144px;
    position: absolute;
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.gallery {
  position: relative;
  justify-content: center;
  background-color: #FFFFFF;
  grid-column: full-start/full-end;
  display: grid;
  /*grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);*/
  grid-template: repeat(16, 5vw)/repeat(2, 1fr);
  grid-gap: 1.4rem;
  padding: 30px;
}
@media only screen and (min-width: 992px) {
  .gallery {
    grid-template: repeat(3, 15vw)/repeat(4, 1fr);
  }
}
.gallery__item--1 {
  grid-row: 1/4;
  grid-column: 1/2;
}
@media only screen and (min-width: 992px) {
  .gallery__item--1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
.gallery__item--2 {
  grid-row: 1/span 5;
  grid-column: 2/3;
}
@media only screen and (min-width: 992px) {
  .gallery__item--2 {
    grid-row: 1/3;
    grid-column: 2/3;
  }
}
.gallery__item--3 {
  grid-row: 4/span 3;
  grid-column: 1/2;
}
@media only screen and (min-width: 992px) {
  .gallery__item--3 {
    grid-row: 1/2;
    grid-column: 3/4;
  }
}
.gallery__item--4 {
  grid-row: 7/12;
  grid-column: 1/2;
}
@media only screen and (min-width: 992px) {
  .gallery__item--4 {
    grid-row: 2/4;
    grid-column: 3/4;
  }
}
.gallery__item--5 {
  grid-row: 6/9;
  grid-column: 2/3;
}
@media only screen and (min-width: 992px) {
  .gallery__item--5 {
    grid-row: 3/4;
    grid-column: 4/5;
  }
}
.gallery__item--6 {
  grid-row: 9/14;
  grid-column: 2/3;
}
@media only screen and (min-width: 992px) {
  .gallery__item--6 {
    grid-row: 1/3;
    grid-column: 4/5;
  }
}
.gallery__item--7 {
  grid-row: 12/17;
  grid-column: 1/2;
}
@media only screen and (min-width: 992px) {
  .gallery__item--7 {
    grid-row: 2/4;
    grid-column: 1/2;
  }
}
.gallery__item--8 {
  grid-row: 14/17;
  grid-column: 2/3;
}
@media only screen and (min-width: 992px) {
  .gallery__item--8 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#landing_page {
  max-height: 75vh;
  width: 100%;
  background-origin: border-box;
  background-position: center;
}
@media only screen and (min-width: 992px) {
  #landing_page {
    max-height: 65vh;
  }
}

.box_img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/FEND-Coffee-latte-art-3.jpg") center/cover no-repeat border-box;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 100%;
  margin: 0%;
  height: 500px;
}
@media only screen and (min-width: 992px) {
  .box_img {
    height: 681px;
    background-position: 0% 60%;
  }
}

/* zum Shop */
.zum_shop {
  position: static;
  width: 63px;
  height: 18px;
  left: 50px;
  top: 15px;
}

.box_rustica {
  margin-top: 193px;
  margin-left: auto;
}
@media only screen and (min-width: 992px) {
  .box_rustica {
    margin-top: 260px;
    height: 110px;
  }
}

/* B{io und Fair seit 1991 */
.box_bio_fair_1991 {
  max-width: 100;
  margin-left: auto;
}

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

nav {
  background: transparent;
  padding: 0 20px;
}

.nav_wrapper {
  width: 90%;
}
@media all and (min-width: 768px) {
  .nav_wrapper {
    width: 95%;
  }
}
@media all and (min-width: 992px) {
  .nav_wrapper {
    width: 100%;
  }
}

.fixed-header {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* Mobile menu */
  /* Submenu up from mobile screens */
  /* Tablet menu */
  /* Desktop menu */
}
.fixed-header a {
  color: white;
  text-decoration: none;
}
.fixed-header .menu, .fixed-header .submenu .footermenu {
  list-style-type: none;
}
.fixed-header .logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.fixed-header .item {
  padding: 10px;
}
.fixed-header .item.button {
  padding: 9px 5px;
}
.fixed-header .item:not(.button) a:hover,
.fixed-header .item a:hover::after {
  color: #ccc;
}
.fixed-header .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.fixed-header .menu li a {
  display: inline-flex;
  color: white;
}
.fixed-header .footermenu li a {
  display: flex;
  flex-direction: column;
  color: white;
}
.fixed-header .footermenu a {
  color: white;
}
.fixed-header .menu li.subitem a {
  padding: 20px;
}
.fixed-header .toggle {
  order: 1;
  font-size: 20px;
  color: white;
}
.fixed-header .item.button {
  order: 2;
}
.fixed-header .item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.fixed-header .active .item {
  display: block;
}
.fixed-header .button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
.fixed-header .submenu {
  display: none;
}
.fixed-header .submenu-active .submenu {
  display: block;
  background-color: #000000;
  color: #FFFFFF;
}
.fixed-header .has-submenu i {
  font-size: 12px;
}
.fixed-header .has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "";
  color: white;
  padding-left: 5px;
  background-color: #000000;
}
.fixed-header .subitem a {
  padding: 10px 15px;
}
.fixed-header .submenu-active {
  background-color: #474211;
  border-radius: 3px;
}
@media all and (min-width: 350px) {
  .fixed-header {
    /* Button up from tablet screen */
  }
  .fixed-header .menu {
    justify-content: center;
  }
  .fixed-header .logo {
    flex: 1;
  }
  .fixed-header .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .fixed-header .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  .fixed-header .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #000000;
  }
  .fixed-header .button a {
    background: #380707;
    border: 1px #010113 solid;
  }
  .fixed-header .button.secondary {
    border: 0;
  }
  .fixed-header .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .fixed-header .button a:hover {
    text-decoration: none;
  }
  .fixed-header .button:not(.secondary) a:hover {
    background: #010113;
    border-color: #380707;
  }
}
@media all and (min-width: 768px) {
  .fixed-header .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .fixed-header .logo {
    order: 0;
  }
  .fixed-header .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .fixed-header .button {
    order: 2;
  }
  .fixed-header .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #095328;
  }
  .fixed-header .toggle {
    display: none;
  }
  .fixed-header .submenu-active {
    border-radius: 0;
  }
}

#cafe {
  display: border-box;
  margin-top: 500px;
  position: relative;
  background-color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  #cafe {
    margin-top: 681px;
  }
}

#cafe nav a {
  color: #000000;
}

/* Auto Layout */
.auto_layout {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-flow: row wrap;
  width: 100%;
  align-items: flex-start;
  padding: 15px 24px;
}

/* Inside Auto Layout */
.inside_auto_layout {
  flex-flow: row wrap;
  order: 0;
  justify-content: right;
  margin: 0px 24px;
}
@media only screen and (min-width: 768px) {
  .inside_auto_layout {
    width: 40%;
  }
}

.container_intro_text {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .container_intro_text {
    width: 50%;
  }
}

.box_addr {
  width: 50%;
}

.addr-hours {
  display: flex;
}
@media only screen and (min-width: 768px) {
  .addr-hours {
    margin-left: 0;
  }
}

/* FEND-Coffee-shop */
.box_img_cafe {
  position: relative;
  width: 241px;
  height: 182px;
  float: right;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .box_img_cafe {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: 125px;
  }
}

/* FEND-Coffee-shop */
.box_img_beans {
  height: 160px;
  width: 241px;
  left: 0px;
  top: 0px;
}
@media only screen and (min-width: 768px) {
  .box_img_beans {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: 100px;
    margin-bottom: 131px;
  }
}

.img_beans {
  /* FEND-coffee-plant */
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.center_textbox {
  position: relative;
  display: border-box;
  margin-top: 125px;
}
@media only screen and (min-width: 768px) {
  .center_textbox {
    margin-top: 126px;
    margin-bottom: 130px;
    transform: translate(50%, 0);
  }
}

.textbox_2 {
  margin-top: 0px;
}
@media only screen and (min-width: 768px) {
  .textbox_2 {
    margin-top: 125px;
    width: 40%;
    margin-bottom: 130px;
    transform: translate(30%, 0);
  }
}

layout_dark {
  background: #1A1A1A;
  border: 2px solid #1A1A1A;
  box-sizing: border-box;
  border-radius: 5px;
}

.box {
  display: flex;
  flex-direction: row;
}

.box :nth-child(1) {
  order: 1;
}

.box :nth-child(2) {
  order: 2;
}

.box :nth-child(3) {
  order: 3;
}
@media only screen and (min-width: 768px) {
  .box :nth-child(3) {
    order: 4;
  }
}

.box :nth-child(4) {
  order: 4;
}
@media only screen and (min-width: 768px) {
  .box :nth-child(4) {
    order: 3;
  }
}

#kaffee_sorten {
  display: block;
  position: relative;
  display: flex;
  background-color: #000000;
}

.container_coffee {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.coffee_flavors {
  display: border-box;
  width: 42%;
}
.coffee_flavors:not(:last-child) {
  margin-right: 22px;
}
@media only screen and (min-width: 992px) {
  .coffee_flavors {
    width: 24%;
  }
  .coffee_flavors:not(:last-child) {
    margin-right: 18px;
  }
}

.img-coffee-kilo {
  display: border-box;
  width: 100%;
  margin: 0 -10 0 11px;
  object-fit: contain;
}

.card {
  margin: 0;
}

.icon-coffee-symbols {
  height: 14px;
  width: 12px;
  left: 1px;
  right: 9px;
  top: 5px;
}
@media only screen and (min-width: 992px) {
  .icon-coffee-symbols {
    height: 20px;
    width: 17px;
    left: 2px;
    top: 7px;
  }
}

#herkunft {
  background-size: 100vw 50vh;
  background-position: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/FEND-Coffee-bags-2.jpg") center/cover no-repeat border-box;
  width: 100%;
  height: 332px;
  margin-top: 0px;
}
@media only screen and (min-width: 992px) {
  #herkunft {
    margin-top: 0px;
    height: 524px;
  }
}

.box_herkunft {
  display: border-box;
  position: absolute;
  width: 100vw;
}

.box_herkunft_bg {
  margin-top: 87px;
}
@media only screen and (min-width: 992px) {
  .box_herkunft_bg {
    margin-top: 145px;
  }
}

.box_center {
  display: flex;
  justify-content: center;
}

.box_herkunft_text {
  margin-top: 12px;
  width: 241px;
  height: 68px;
}
@media only screen and (min-width: 992px) {
  .box_herkunft_text {
    margin-top: 35px;
    width: 306px;
    height: 96px;
  }
}

#coffee_features {
  background-size: 100vw 50vh;
  background-position: center;
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
  margin-top: 0px;
}

.box_feature_coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .box_feature_coffee {
    flex-direction: row;
    align-items: flex-start;
  }
}

.box_feature_coffee_img {
  width: 214px;
  height: 284px;
}
@media only screen and (min-width: 992px) {
  .box_feature_coffee_img {
    width: 402px;
    height: 521px;
  }
}

.box_feature_coffee_icons {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .box_feature_coffee_icons {
    flex-direction: row;
  }
}

.box_icons_n_text {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 992px) {
  .box_icons_n_text {
    flex-direction: column;
  }
}

.box_feature_coffee_cup_icon {
  width: 4.53rem;
  height: 4.58rem;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .box_feature_coffee_cup_icon {
    width: 4.18rem;
    height: 4.18rem;
    text-align: left;
  }
}

.box_feature_coffee_cup_icon_text {
  max-width: 8.75rem;
  padding-right: 2rem;
  height: 4.9rem;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .box_feature_coffee_cup_icon_text {
    width: 9.9rem;
    height: 5.47rem;
    flex-grow: 1;
    flex-wrap: nowrap;
    text-align: left;
  }
}

.box_feature_hv {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .box_feature_hv {
    flex-direction: row;
  }
}

.btn_feature_coffee {
  z-index: 10;
  display: border-box;
  position: relative;
  margin-top: 2rem;
  margin-left: 1.06rem;
}
@media only screen and (min-width: 992px) {
  .btn_feature_coffee {
    margin-top: -16rem;
    margin-left: 21rem;
  }
}

#contact {
  position: relative;
  background-color: #FFFFFF;
}

.box_contact_map {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  .box_contact_map {
    height: 484px;
  }
}

.img_map {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

#footer {
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 370px;
  margin-top: 0px;
}

.box_footer {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-top: 6.1rem;
  margin-left: 2.4rem;
}
@media only screen and (min-width: 992px) {
  .box_footer {
    flex-direction: row;
    align-items: center;
    margin-left: 10.1rem;
  }
}

.box_footer_subitem_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.box_footer_item {
  display: flex;
  flex-direction: column;
  width: 100;
}
@media only screen and (min-width: 992px) {
  .box_footer_item {
    flex-direction: row;
    align-items: center;
  }
}

.box_footer_subitem {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
@media only screen and (min-width: 992px) {
  .box_footer_subitem {
    flex-direction: row;
    align-items: flex-start;
    width: 25vw;
  }
  .box_footer_subitem div:nth-of-type(1) {
    flex-grow: 1;
  }
  .box_footer_subitem div:nth-of-type(2) {
    flex-grow: 1;
  }
  .box_footer_subitem div:nth-of-type(3) {
    flex-grow: 2;
  }
}

.box_footer_subitem_1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 992px) {
  .box_footer_subitem_1 {
    margin-bottom: 6rem;
  }
}
.box_footer_subitem_1 .vw_50 {
  width: 50vw;
  padding-right: 1rem;
}
@media only screen and (min-width: 992px) {
  .box_footer_subitem_1 .vw_50 {
    width: 100vw;
  }
}

.box_footer_subitem_2 {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 992px) {
  .box_footer_subitem_2 {
    flex-direction: column;
  }
}

.box_footer_subitem_logo {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  .box_footer_subitem_logo {
    width: 70px;
    height: 70px;
  }
}

.box_footer_subitem_3 {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .box_footer_subitem_3 {
    width: 50%;
  }
}

.box_footer_subitem_3 :nth-child(1) {
  order: 1;
}
@media only screen and (min-width: 992px) {
  .box_footer_subitem_3 :nth-child(1) {
    order: 2;
  }
}

.box_footer_subitem_3 :nth-child(2) {
  order: 2;
}
@media only screen and (min-width: 992px) {
  .box_footer_subitem_3 :nth-child(2) {
    order: 1;
  }
}

.box_footer_subitem_4 {
  width: 50vw;
  flex: 1 1 0;
  list-style-type: none;
}
.box_footer_subitem_4 a {
  color: #FFFFFF;
  text-decoration: none;
}

#impressium {
  display: border-box;
  position: relative;
}

.container_impressium {
  top: 133px;
  position: relative;
  display: flex-box;
  flex-direction: column;
  width: 327px;
  left: 24px;
}
@media only screen and (min-width: 992px) {
  .container_impressium {
    height: 2760px;
    width: 822px;
    left: 310px;
    top: 219px;
  }
}

#dasCafe {
  max-height: 75vh;
  width: 100%;
  background-origin: border-box;
  background-position: center;
}
@media only screen and (min-width: 992px) {
  #dasCafe {
    max-height: 65vh;
  }
}

.bg_cafe_img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/FEND-Coffee-shop.jpg") center/cover no-repeat border-box;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 100%;
  display: block;
  position: absolute;
  margin: 0%;
  height: 332px;
}
@media only screen and (min-width: 992px) {
  .bg_cafe_img {
    height: 681px;
    background-position: 0% 50%;
  }
}

.box_content_dasCafe {
  margin-top: 332px;
}
@media only screen and (min-width: 992px) {
  .box_content_dasCafe {
    margin-top: 681px;
  }
}

#dasCafe {
  max-height: 75vh;
  width: 100%;
  background-origin: border-box;
  background-position: center;
}
@media only screen and (min-width: 992px) {
  #dasCafe {
    max-height: 65vh;
  }
}

.bg_dieHerkunft_img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/FEND-Coffee-beans-hand-2.jpg") center/cover no-repeat border-box;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 100%;
  display: block;
  position: absolute;
  margin: 0%;
  height: 332px;
}
@media only screen and (min-width: 992px) {
  .bg_dieHerkunft_img {
    height: 681px;
    background-position: 0% 50%;
  }
}

.box_content_dieHerkunft {
  margin-top: 332px;
}
@media only screen and (min-width: 992px) {
  .box_content_dieHerkunft {
    margin-top: 805px;
  }
}

.box_img_lg {
  /* Bildschirmfoto 2021-01-12 um 10.28 1 */
  height: 183px;
  width: 327px;
}
@media only screen and (min-width: 992px) {
  .box_img_lg {
    height: 698px;
    width: 1241px;
    left: 100px;
  }
}

.box_img_plant {
  height: 160px;
  width: 241px;
  left: 0px;
  top: 0px;
}
@media only screen and (min-width: 992px) {
  .box_img_plant {
    width: 717px;
    height: 476px;
    object-fit: contain;
    margin-top: 251px;
    margin-bottom: 126px;
  }
}

.box_img_worker {
  height: 322px;
  width: 241px;
  left: 0px;
  top: 0px;
}
@media only screen and (min-width: 992px) {
  .box_img_worker {
    width: 675px;
    height: 508px;
    object-fit: contain;
    margin-top: 85px;
    margin-bottom: 125px;
  }
}

.dasHerkunft_textbox_1 {
  margin-top: 0px;
}
@media only screen and (min-width: 768px) {
  .dasHerkunft_textbox_1 {
    margin-top: 0px;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: translate(50%, 0);
  }
}

.dasHerkunft_textbox_3 {
  margin-top: 0px;
}
@media only screen and (min-width: 992px) {
  .dasHerkunft_textbox_3 {
    margin-top: 0px;
    width: 40%;
    margin-bottom: 130px;
    margin-left: -50px;
    transform: translate(30%, 0);
  }
}

:root {
  --div-color: #000000;
}

/*# sourceMappingURL=main.css.map */
